body{
    background: url("assets/img/bg_aoe2_hd_paper.jpg") repeat local;
    font-family: 'Merriweather', serif;
    min-width: 1200px;
}
.container-box{
    display:flex;
    flex-flow: row;
    justify-content: space-around;
}

.input-box{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    width: 80%;
    min-width: 1000px;
    margin: 25px auto;
    padding: 10px;
    border: 1px solid #191919;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #191919;
}
.input-text-container-box{
    width: 950px;
    display: flex;
    flex-flow: row;
}
.input-text-box{
    background-color:#474340;
    color: #FFFFFD;
    width: 465px;
    font-weight: bold;
    border-color: #6f5c4f;
}
.input-text-box:focus {
    outline: none !important;
    /* border:1px solid #191919;
    box-shadow: 0 0 1px #191919; */
}
.team-one-text-box{
    margin-right: 20px;
}
#team-two-text-box{
    margin-left: 20px;
}
.options-box{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    min-height: 50px;
    min-width: 700px;
    margin: 10px 0px;
}
.button-box{
    width: 600px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-bottom: 2.5px;
}

.functional-button{
    background-color: #8C0911;
    width: 250px;
    height: 37.5px;
    color: #f7ceb6;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 10px;
}
.functional-button:active, .functional-button:focus{
    box-shadow: 0px 0px 3px #191919;
    outline-color: #191919;
}
.display-box{
    min-width: 1000px;
}
.match-box{
    width: 750px;
    font-size: 20px;
    margin: 20px auto;
    display: flex;
    flex-flow: row;
    /* justify-content: space-around; */
    border: 1px solid #191919;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px #191919;
}
.match-box a{
     text-decoration: none;
     font-weight: bold;
     color: black;
}
.team-one-box, .team-two-box{
    min-width: 200px;
}
.team-one-box{
    margin-left: 40px;
}
.team-two-box{
    margin-left: 40px;
}
.player-box{
    display: flex;
    flex-flow: row;
    margin: 10px 0px;
}
.civ-icon{
    height: 50px;
    width: 50px;
}
.player-name-box{
    font-weight: bold;
}
.versus-box{
    align-self: center;
    margin: 0px 80px;
}
.versus-icon-box{
    width: 75px;
    height: 75px;
}

.left-box, .right-box{
    border: 1px solid #191919;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #191919;
    /* max-width: 235px; */
    max-width: 300px;
    font-size: 25px;
    padding: 10px;
    margin-top: 25px;
    position: sticky;
    top: 25px;
}
.left-box{
    max-height: 840px;
}
.right-box{
    max-height: 800px;
}
.civilization-box{
    display: flex;
    flex-flow: row;
    margin-bottom: 2.5px;
    /* justify-content: space-between; */
}
.civilization-name-box{
    margin: 0px 5px;
}
/*.civilization-icon-box{

} */
.civilization-icon{
    height: 40px;
    width: 40px;
}
.civilization-name-box, .civilization-name-box:hover, .civilization-name-box:focus, .civilization-name-box:active{
    text-decoration: none;
    font-weight: bold;
    color: #191919;
}

.civilization-button-box{
    cursor: pointer;
    width: 15px;
}
.plus-icon, .minus-icon{
   height: 15px;
   width: 15px;
}


@media only screen and (max-width: 1900px) {
    .input{
        width: 900px;
    }
    .input-text-box{
        width: 450px;
    }
}
@media only screen and (max-width: 1500px) {
    .container-box{
        justify-content: space-around;
    }
    .left-box{
        margin-right: 25px;
    }
    .right-box{
        margin-left: 25px;
    }
    .civilization-name-box{
        display: none;
    }
}