:root {
    --bg-image: url("assets/img/bg_aoe2_hd_paper.jpg") repeat local;
  }
body{
    background: var(--bg-image);
    font-family: 'Merriweather', serif;
    min-width: 1280px;
}
.container-box{
    display:flex;
    flex-flow: row;
    justify-content: space-around;
}

.input-box{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    min-width: 1000px;
    margin: 25px auto;
    padding: 10px;
    border: 1px solid #191919;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #191919;
}
.input-text-container-box{
    width: 950px;
    display: flex;
    flex-flow: row;
}
.input-text-box,
.search-bar{
    background-color:#474340;
    color: #FFFFFD;
    width: 465px;
    font-weight: bold;
    border-color: #6f5c4f;
}
.input-text-box:focus,
.search-bar:focus{
    outline: none !important;
    /* border:1px solid #191919;
    box-shadow: 0 0 1px #191919; */
}
.selected-count-button{
    min-width: 115px;
}
.selected-count-button:focus{
    box-shadow: none;
}
.selected-count-button:focus-visible{
    outline: none;
}
.team-one-text-box{
    margin-right: 20px;
}
#team-two-text-box{
    margin-left: 20px;
}
.options-box{
    display:flex;
    flex-flow: row;
    min-height: 50px;
    width: 100%;
    margin: 10px 0px;
}
.radio-outer-box{
    display: flex;
    flex-flow: row;
    margin: 0px 50px;
}
.radio-box{
    margin: 0px 5px;
}
.collapse-button{
    margin-bottom: 10px;
    font-weight: bold;
}
.more-options-box{
    margin-bottom: 5px;
    max-width: 1000px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.add-dlc-owners-box{
    display: flex;
    flex-flow: row;
}
/* .add-dlc-owner-input-text-box{

} */
.free-dlc-checkbox-box{
    margin-top: 5px;
}
.advanced-checkbox-box{
    display: flex;
    flex-flow: row;
    margin-top: 5px;
}
.advanced-checkbox{
    margin: 0px 5px;
    max-width: 125px;
}
.advanced-checkbox > input{
    margin-top: 15px;
}
.button-box{
    width: 600px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-bottom: 2.5px;
}

.functional-button{
    background-color: #8C0911;
    width: 250px;
    height: 37.5px;
    color: #f7ceb6;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 10px;
}
.functional-button:active, .functional-button:focus{
    box-shadow: 0px 0px 3px #191919;
    outline-color: #191919;
}
.functional-button-select{
    width: initial;
}
.functional-button-add{
    width: 100px;
}
.dlc-dropdown-menu{
    background: var(--bg-image);
    padding: 11px;
}
.display-box{
    min-width: 1000px;
}
.match-box{
    width: 750px;
    font-size: 20px;
    margin: 20px auto;
    display: flex;
    flex-flow: row;
    border: 1px solid #191919;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px #191919;
    /* background-color: #b69579; */
    /* background-color: rgba(77, 54, 23, 0.3); */
}
.match-box a{
     text-decoration: none;
     font-weight: bold;
     color: black;
}
.team-one-box, .team-two-box{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.team-one-box{
    min-width: 190px;
    margin-left: 40px;
}
.team-two-box{
    min-width: 210px;
    margin-left: 40px;
}
.team-two-box-display-rating{
    margin-left: 0px;
    margin-right: 15px;
}
.player-box{
    display: flex;
    flex-flow: row;
    margin: 10px 0px;
}
.civ-icon{
    height: 50px;
    width: 50px;
}
.player-name-box{
    text-transform: capitalize;
    font-weight: bold;
}
.versus-box{
    align-self: center;
    margin: 15px 0px;
}
.versus-icon-box{
    width: 75px;
    height: 75px;
    margin: 0px 80px;
}
.map-icon-box{
    margin: 0px 60px;
    height: 168px;
    width: 157px;
}

.left-box, .right-box{
    border: 1px solid #191919;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #191919;
    max-width: 300px;
    font-size: 24px;
    padding: 10px;
    position: sticky;
    top: 10px;
    max-height: 910px;
}

.civilization-box{
    display: flex;
    flex-flow: row;
    margin-bottom: 2.5px;
    justify-content: space-between;
}
.civilization-name-box{
    margin: 0px 5px;
}
/*.civilization-icon-box{

} */
.civilization-icon{
    height: 40px;
    width: 40px;
}
.civilization-name-box, .civilization-name-box:hover, .civilization-name-box:focus, .civilization-name-box:active{
    text-decoration: none;
    font-weight: bold;
    color: #191919;
}
.form-switch-box{
    padding-left: 0px;
}
.form-check-input-civ{
    cursor: pointer;
    max-height: 17.5px;
    max-width: 35px;
    margin-top: 12.5px;
    margin-left: 5px !important;
    margin-right: 5px;
}
.all-maps-box{
    max-width: 1000px;
    margin: 25px auto;
    padding: 10px;
    border: 1px solid #191919;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #191919;
}
.all-maps-inner-box{
    display: flex;
    flex-flow: row wrap;
}
.bottom-map-button-box{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 10px 0px;
    position: sticky;
    top: 10px;
}
.bottom-map-button{
    font-weight: bold;
}
.bottom-map-search-box{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.search-bar{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.map-box{
    margin: 10px 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.map-icon-bottom{
    height: 143px;
    width: 131px;
}
/* 
.map-toggle-box{

}
.form-check-input-map{

} */
.form-check-input[type="radio"], .form-check-input[type="checkbox"]{
    cursor: pointer;
}

@media only screen and (max-width: 1900px) {
    .input{
        width: 900px;
    }
    .input-text-box{
        width: 450px;
    }
}
@media only screen and (max-width: 1599px) {
    .container-box{
        justify-content: space-around;
    }
    .left-box{
        margin-right: 25px;
    }
    .right-box{
        margin-left: 25px;
    }
    .civilization-name-box{
        display: none;
    }
}